@page "/"

<h1>Hello!</h1>

<p>Welcome to my voting application.</p>

<p>This is a <a href="https://en.wikipedia.org/wiki/Score_voting">Score Voting system</a>.  It is similar to the Olympics in that every trip will be given a score from 0 to 9.9.  It is recommended to give your favorite choice a 9.9 and your lease favorite a 0.</p>
