@page "/"

@using RangeVote.Common

<p>It looks like you are not using a correct link.  If this is your first time, here is a new link just for you.  Save the link to come back noext time and update your vote.</p>
<a href="/@Guid.NewGuid().ToString()">Your New Link</a>
<p>If you are returning, please try to find your link and try again.</p>